<!DOCTYPE html>
<html lang="zh-CN">
<script type="text/javascript">
  var obj = {};
  function init() {
    //console.log("a");
    var xmlhttp;
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    }
    else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        //document.getElementById("test").innerHTML=responseText;
        obj = JSON.parse(xmlhttp.responseText);
        console.log(obj.OJ);
      }
    }
    xmlhttp.open("GET", "./problem.json", true);
    xmlhttp.send();
  }
  window.onload = init();
  //console.log(obj.Title);
  //console.log(obj.OJ + "123");
</script>

<head>
  <meta charset="utf-8">
  <div id="title">
    <title>{{obj.Title}} | XOJ</title>
  </div>
  <link rel="icon" href="logo.ico" type="logo-icon" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>

<body>
  <div id="app">
    <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" background-color="#545c64" text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="3">
        <a href="./lisit.html" target="_blank">HOME</a>
      </el-menu-item>
      <el-menu-item index="3">
        <a href="./submit.html" target="_blank">SUBMIT</a>
      </el-menu-item>
      <el-menu-item index="3">
        <a href="./problem.html" target="_blank">PROBLEM</a>
      </el-menu-item>
      <el-menu-item index="3">
        <a href="./status.html" target="_blank">STATUS</a>
      </el-menu-item>
    </el-menu>
  </div>
  <div id="problem">
   <h1>{{obj.OJ+" "+obj.ID+"."+obj.Title}}</h1>

    <h2>Description</h2>
    <p>{{obj.Description}}</p>

    <h2>Input</h2>
    <p>{{obj.Input}}</p>

    <h2>Output</h2>
    <p>{{obj.Output}}</p>

    <h2>Sample Input</h2>
    <p>{{obj['Sample Input']}}</p>

    <h2>Sample Output</h2>
    <p>{{obj['Sample Output']}}</p>

    <h2 v-if="seen">Hint</h2>
    <p v-if="seen">{{obj.Hint}}</p>
  </div>
  <aside class="span3">
    <div class="well">
      <a href="./submit.html" class="button">提交此题</a>
    </div>
  </aside>

  <script type="text/javascript">
    new Vue({
      el: '#problem',
      data: {
        obj,
        msg: "hello",
        seen: obj.Hint
      }
    })
    new Vue({
      el:'#title',
      data:{
        obj
      }
    })
    console.log(obj.OJ + "123");
  </script>
</body>
<script type="text/javascript">
    var order = new Vue({
      el: '#app',
      data: function () {
        return {
          activeIndex2: '1'
        }
      }
    });
</script>
<style>
  body {
    padding-top: 0px;
    padding-left: 0px;
    background-image: url(./round.png);
  }

  p {
    padding-left: 30px;
  }
</style>

</html>