<html>

<head>
  <title>
    a+b-poj-1001
  </title>
  <link rel="icon" href="logo.ico" type="logo-icon" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect" background-color="#545c64"
      text-color="#fff" active-text-color="#ffd04b">
      <el-menu-item index="3">
        <a href="./lisit.html" target="_blank">HOME</a>
      </el-menu-item>
      <el-menu-item index="3">
        <a href="./submit.html" target="_blank">SUBMIT</a>
      </el-menu-item>
      <el-menu-item index="3">
        <a href="./problem.html" target="_blank">PROBLEM</a>
      </el-menu-item>
      <el-menu-item index="3">
        <a href="./status.html" target="_blank">STATUS</a>
      </el-menu-item>
    </el-menu>

    <center>
      <h3>Language:</h3>
      <el-select v-model="value" size="small" placeholder="请选择">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </center>
    <center>
      <textarea style="width:500px;height:500px;"></textarea>
      <div id="foot">
        <el-button click="./status.html">提交</el-button>
    </center>-->
    </div>
</body>

<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        activeIndex2: '1'
      }
    }
  })
</script>

</html>